* {
    color: blue;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: lightgreen;
}
.done {
    text-decoration: line-through;
}

.icon {
    height: 24px;
    width: 24px;
}
 
.input {
    width: 25vw;
}