* {
    color: blue;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20%;
}
.done {
    text-decoration: line-through;
}

.icon {
    height: 24px;
    width: 24px;
}
 
.input {
    width: 25vw;
    background-color: azure;
    border-radius: 5px;
}



