* {
    color: red;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.done {
    text-decoration: line-through;
}

.icon {
    height: 24px;
    width: 24px;
}
 
.input {
    width: 25vw;
    background-color: azure;
    border-radius: 5px;
}

.button {
    background-color: whitesmoke;
    padding: 7px 40px;
    border: 1px solid wheat;
    border-radius: 4px;
}

.header {
    font-size: 30px;
    color: rgb(0, 102, 255);
}